body {
    color:rgb(255, 255, 255);
    background: rgb(12, 8, 19);
    margin: 0px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 80px;
}

header{
    font-size: 45px;
    line-height: 0px;
    border-bottom: solid 3px rgb(233, 183, 55);
    padding: 30px;
    font-size: 40px;
    color: rgb(255, 255, 255);
}


section{
    background: rgb(118,110,115);
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    border-bottom: solid 3px rgb(233, 183, 55);
}
.nome-filme{
    margin-left: 3%;
    color: rgb(64, 32, 21);
}
.videos{
    padding: 30px;
}
img{
    height: 280px;
    
}
.recomendacao{
    display: flex ;
    overflow-x: auto;
    gap: 20px;
    width: 1337.25px;
    margin-left: -137px;
   
}
.filmes-recomendados{
    padding-left: 20px;
    padding-right: 20px;
    
}
.filmes-recomendados img{
    opacity: 0.6;
}
.filmes-recomendados img:hover{
    border: 3px solid green;
    opacity: 1.0;


}

.titulo-recomendação{
    padding-left: 30px;
    margin-bottom: 20px;
}

